// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

table{
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
    img{
        width: 100px;
    }
}